ul li {
	text-decoration: none;
	color: blue;
	list-style-type: none;
	font-size: 20px;
}

ul li a {
	text-decoration: none;
}

div {
	border: 2px solid #000;
	padding: 10px 10px 10px 20px;
	border-radius: 25px;
	box-shadow: 0px 4px 6px;
	text-align: center;
}

p {
	color: red;
}

body {
	font-family: monospace;
}

.favo {
	color: green;
}

@media screen and (max-width: 600px) {
	div {
		background-color: gray;
	}
}